<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
            "width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>

<body>
<nav>
    <div class="heading">Home</div>
    <div class="usarname" *ngIf="user">Welcome to Cinemate, {{user.username}}</div>
    <span class="sideMenuButton"
          onclick="openNavbar()">
        </span>

    <div class="navbar">
        <ul>
            <li><a href="#Home">Home</a></li>
            <li><a href="#">About</a></li>
            <li *ngIf="!user"><a href="#">Sign Up</a></li>
            <li *ngIf="user"><a href="#" (click)="logOut()">LogOut</a></li>
        </ul>
    </div>
</nav>

<div class="sideNavigationBar"
     id="sideNavigationBar">
    <a href="#" class="closeButton"
       onclick="closeNavbar()">
    </a>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Sign Up</a>
</div>

<div class="line" id="Home">
    <div class="side1">
        <h1>Cinemate</h1>
        <hr>
    </div>


</div>

<!-- Search Inputs Section -->
<div *ngIf="user && userRole === 'RegisteredUser'" class="search-section">
    <form class="search-form" (ngSubmit)="search()">
        <input type="text" placeholder="Title" class="search-input" #title>
        <input type="text" placeholder="Description" class="search-input" #description>
        <label for="actors">Actors (comma-separated):</label>
        <input id="actors" name="actors" type="text" placeholder="Actors" class="search-input" #actors>
        <label for="directors">Directors (comma-separated):</label>
        <input id="directors" type="text" placeholder="Director" class="search-input" #directors>
        <label for="genres">Genres (comma-separated):</label>
        <input id="genres" type="text" placeholder="Genre" class="search-input" #genres>
        <button type="submit" class="search-button">Search</button>
    </form>
</div>

<div *ngIf="results.length > 0">
    <h2>Search Results:</h2>
    <div *ngFor="let result of results" class="result-card">
        <h3>{{ result.Title }}</h3>
        <p>{{ result.Description }}</p>
        <p>Genres: {{ result.Genres.join(', ') }}</p>
        <p>Actors: {{ result.Actors.join(', ') }}</p>
        <p>Directors: {{ result.Directors.join(', ') }}</p>
        <button class="show-button">Show</button>
    </div>
</div>

<section class="about" id="My Projects">
    <div class="content">
        <div class="title">
            <span>Movies</span>
        </div>
        <div class="boxes">
            <div class="box">
                <div class="image-container">
                    <img src="https://www.shutterstock.com/shutterstock/photos/1642324960/display_1500/stock-vector-template-colorful-multimedia-frame-mockup-live-stream-window-player-online-broadcasting-social-1642324960.jpg">
                </div>
                <div class="topic">
                    <a href="#" target="_blank">Civil War</a>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <!-- Polje za unos key vrednosti -->
                <input type="text" [(ngModel)]="keyInput" placeholder="Enter the key for the film" />

                <!-- Dugme za preuzimanje -->
                <button class="download-button" (click)="downloadFilm('bucket-22', keyInput)">Download</button>
            </div>

            <div class="box">
                <div class="image-container">
                    <img src="https://www.shutterstock.com/shutterstock/photos/1642324960/display_1500/stock-vector-template-colorful-multimedia-frame-mockup-live-stream-window-player-online-broadcasting-social-1642324960.jpg">
                </div>
                <div class="topic">
                    <a href="#" target="_blank">
                        Dune 2
                    </a>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <button class="download-button">Download</button>
            </div>

            <div class="box">
                <div class="image-container">
                    <img src="https://www.shutterstock.com/shutterstock/photos/1642324960/display_1500/stock-vector-template-colorful-multimedia-frame-mockup-live-stream-window-player-online-broadcasting-social-1642324960.jpg">
                </div>
                <div class="topic">
                    <a href="#" target="_blank">
                        Kung Fu Panda 4
                    </a>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <button class="download-button">Download</button>
            </div>
        </div>
    </div>
</section>
<br> <br>

<section class="contact" id="contact">
    <div class="content">
        <hr> <br>
        <div class="title"><span>Upload New Movie</span></div>
    </div>
    <!-- Upload Film Section -->
    <section class="upload-film">
        <form (submit)="onUpload()">
            <div class="form-group">
                <input type="file" (change)="onFileSelected($event)" />
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="title1" placeholder="Title" name="title" />
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="description1" placeholder="Description" name="description" />
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="actors1" placeholder="Actors (comma separated)" name="actors" />
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="directors1" placeholder="Directors (comma separated)" name="directors" />
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="genres1" placeholder="Genres (comma separated)" name="genres" />
            </div>
            <button type="submit" class="upload-button">Upload</button>
        </form>
    </section>

    <br>
    <br> <hr> <br>

    <!-- Flex container for subscription form and list -->
    <div class="subscription-container">
        <!-- Subscription Form -->
        <form (ngSubmit)="onSubmit()" class="subscription-form">
            <h2>Subscribe to Film Content</h2> <!-- Naziv forme -->

            <label>Hello, {{username}}! <br> This is a form where you can subscribe to content of the type of actor, director or film genre and receive notifications for them. <br>
            </label>
<br>
            <!-- Subscription Type Radio Buttons -->
            <div>
                <label>Subscription Type:</label>
                <div>
                    <input type="radio" id="actor" name="subscriptionType" value="actor" [(ngModel)]="subscriptionType">
                    <label for="actor">Actor</label>
                </div>
                <div>
                    <input type="radio" id="director" name="subscriptionType" value="director" [(ngModel)]="subscriptionType">
                    <label for="director">Director</label>
                </div>
                <div>
                    <input type="radio" id="genre" name="subscriptionType" value="genre" [(ngModel)]="subscriptionType">
                    <label for="genre">Genre</label>
                </div>
            </div>
            <br>

            <label for="subscriptionValue">Subscription Value:</label>
            <input type="text" id="subscriptionValue" [(ngModel)]="subscriptionValue" name="subscriptionValue" required>

            <br>
            <label for="email">Notifications for your subscription will be sent to your email address:</label>
            <div id="email">{{email}}</div> <!-- Prikazivanje email kao tekst -->
            <br>

            <button type="submit" class="submit-button">Submit</button>
        </form>
    <!-- Subscription List -->
<!--        <div class="subscription-list">-->
<!--            <h2>Subscription List for {{username}}</h2>-->
<!--            <ul>-->
<!--                <li *ngFor="let subscription of subscriptions" class="subscription-item">-->
<!--                    <div class="subscription-left">-->
<!--                        <br> Subscription type: {{ subscription.subscription_type }}-->
<!--                        <strong><br> Subscription value: {{ subscription.subscription_value }}</strong>-->
<!--                    </div>-->
<!--                    <div class="subscription-right">-->
<!--                        <button class="btn-update">Update</button>-->
<!--                        <button class="btn-delete">Delete</button>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->

        <div class="subscription-list">
            <h2>Subscription List for {{username}}</h2>
            <ul>
                <li *ngFor="let subscription of subscriptions" class="subscription-item">
                    <div class="subscription-left">
                        <br> Subscription type: {{ subscription.subscription_type }}
                        <strong><br> Subscription value:
                            <input
                                    type="text"
                                    [(ngModel)]="subscription.subscription_value"
                                    class="subscription-value-input"
                            />
                        </strong>
                    </div>
                    <div class="subscription-right">
                        <button
                                class="btn-update"
                                (click)="updateSubscription(subscription)">

                            Update
                        </button>
                        <button
                                class="btn-delete"
                                (click)="deleteSubscription(subscription)">

                            Delete
                        </button>
                    </div>
                </li>
            </ul>
        </div>

    </div>


    <div  *ngIf="user && userRole === 'Administrator'" class="delete-movie">
        <h2>DELETE MOVIE</h2>
        <label for="movie-id">Enter Movie ID:</label>
        <input type="text" id="movie-id" name="movie-id" [(ngModel)]="deleteId">
        <button type="button" (click)="deleteMovie()">Delete</button>
    </div>

    <div *ngIf="user && userRole === 'RegisteredUser'" class="rate-movie-container">
        <h2>Rate a Movie</h2>
        <form (ngSubmit)="onRateMovie()">
            <label for="filmId">Film ID:</label>
            <input id="filmId" [(ngModel)]="filmId" name="filmId" required />

            <label for="rating">Rating (1-5):</label>
            <input id="rating" type="number" [(ngModel)]="rating" name="rating" required min="1" max="5" />

            <button type="submit">Rate</button>
        </form>
    </div>





</section>
<footer>
    <div class="footer">
    </div>
</footer>
