<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
            "width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>

<body>
<nav>
    <div class="heading">Home</div>
    <div class="usarname" *ngIf="user">Welcome to Cinemate, {{user.username}}</div>
    <span class="sideMenuButton"
          onclick="openNavbar()">
        </span>

    <div class="navbar">
        <ul>
            <li><a href="#Home">Home</a></li>
            <li><a href="#">About</a></li>
            <li *ngIf="!user"><a href="#">Sign Up</a></li>
            <li *ngIf="user"><a href="#" (click)="logOut()">LogOut</a></li>
        </ul>
    </div>
</nav>

<div class="sideNavigationBar"
     id="sideNavigationBar">
    <a href="#" class="closeButton"
       onclick="closeNavbar()">
    </a>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Sign Up</a>
</div>

<div class="line" id="Home">
    <div class="side1">
        <h1>Cinemate</h1>
        <hr>
    </div>


</div>

<!-- Search Inputs Section -->
<div *ngIf="user && userRole === 'RegisteredUser'" class="search-section">
    <form class="search-form" (ngSubmit)="search()">
        <input type="text" placeholder="Title" class="search-input" #title>
        <input type="text" placeholder="Description" class="search-input" #description>
        <label for="actors">Actors (comma-separated):</label>
        <input id="actors" name="actors" type="text" placeholder="Actors" class="search-input" #actors>
        <label for="directors">Directors (comma-separated):</label>
        <input id="directors" type="text" placeholder="Director" class="search-input" #directors>
        <label for="genres">Genres (comma-separated):</label>
        <input id="genres" type="text" placeholder="Genre" class="search-input" #genres>
        <button type="submit" class="search-button">Search</button>
    </form>
</div>

<div *ngIf="results.length > 0">
    <h2>Search Results:</h2>
    <div *ngFor="let result of results" class="result-card">
        <h3>{{ result.Title }}</h3>
        <p>{{ result.Description }}</p>
        <p>Genres: {{ result.Genres.join(', ') }}</p>
        <p>Actors: {{ result.Actors.join(', ') }}</p>
        <p>Directors: {{ result.Directors.join(', ') }}</p>
        <button class="show-button">Show</button>
    </div>
</div>
<!-- feed.component.html -->
<section class="about" id="My Projects">
    <div class="content">
        <!-- feed.component.html -->
        <br>
        <div *ngIf="feed.length > 0; else noFeed" class="feed-container">
            <h2 class="feed-title">Recommended Feed</h2>
            <hr class="feed-divider">
            <div *ngFor="let item of feed" class="film-item">
                <div class="film-image">
                    <video width="350" height="200px" controls>
                        <source [src]="item.VideoUrl" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>

                <div class="film-details">
                    <h3 class="film-title">Title: {{ item.Title }}</h3>
                    <p><strong>VideoKey:</strong> {{ item.VideoKey }}</p>
                    <p><strong>Description:</strong> {{ item.Description }}</p>
                    <p><strong>Actors:</strong> {{ item.Actors.join(', ') }}</p>
                    <p><strong>Directors:</strong> {{ item.Directors.join(', ') }}</p>
                    <p><strong>Genres:</strong> {{ item.Genres.join(', ') }}</p>
                    <p><strong>Score:</strong> {{ item.Score }}</p>
                </div>
            </div>
        </div>

        <ng-template #noFeed>
            <p class="no-feed-message">Nema dostupnih podataka za prikaz.</p>
        </ng-template>



        <div class="title">
            <span>All Movies</span>
        </div>


        <div *ngFor="let movie of movies" class="movie-card">
            <h2 class="movie-title">{{ movie.title }}</h2>
            <p class="movie-description">{{ movie.description }}</p>
            <div class="video-container">
                <video width="600" controls>
                    <source [src]="movie.videoUrl" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="movie-details">
                <p class="movie-actors">Actors: {{ movie.actors.join(', ') }}</p>
                <p class="movie-directors">Directors: {{ movie.directors.join(', ') }}</p>
                <p class="movie-genres">Genres: {{ movie.genres.join(', ') }}</p>
                <p class="movie-file-size">File Size: {{ movie.fileSize | number:'1.0-0' }} bytes</p>
                <p class="movie-content-type">Content Type: {{ movie.contentType }}</p>
                <p class="movie-upload-time">Upload Time: {{ movie.uploadTime }}</p>
                <p class="movie-last-modified">Last Modified: {{ movie.lastModified }}</p>
                <p class="movie-last-modified1">Video id {{ movie.id }}</p>
            </div>
            <div class="movie-actions">
                <button class="btn btn-download" (click)="downloadMovie(movie.id)">Download</button>
                <button class="btn btn-rate" (click)="rateMovie1()">Rate</button>
            </div>
        </div>





<br> <br>

<section class="contact" id="contact">
    <div class="content">
        <hr> <br>
        <div class="title"><span>Upload New Movie</span></div>
    </div>
    <!-- Upload Film Section -->
    <section class="upload-film">
        <form (submit)="onUpload()">
            <div class="form-group">
                <input type="file" (change)="onFileSelected($event)" />
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="title1" placeholder="Title" name="title" />
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="description1" placeholder="Description" name="description" />
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="actors1" placeholder="Actors (comma separated)" name="actors" />
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="directors1" placeholder="Directors (comma separated)" name="directors" />
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="genres1" placeholder="Genres (comma separated)" name="genres" />
            </div>
            <button type="submit" class="upload-button">Upload</button>
        </form>
    </section>

    <br>
    <br> <hr> <br>

    <!-- Flex container for subscription form and list -->
    <div class="subscription-container">
        <!-- Subscription Form -->
        <form class="subscription-form">
            <h2>Subscribe to Film Content</h2>

            <label>Hello, {{username}}! <br> This is a form where you can subscribe to content of the type of actor, director or film genre and receive notifications for them. <br></label>
            <br>

            <!-- Subscription Type Radio Buttons -->
            <div>
                <label>Subscription Type:</label>
                <div>
                    <input type="radio" id="actor" name="subscriptionType" value="actor" [(ngModel)]="subscriptionType">
                    <label for="actor">Actor</label>
                </div>
                <div>
                    <input type="radio" id="director" name="subscriptionType" value="director" [(ngModel)]="subscriptionType">
                    <label for="director">Director</label>
                </div>
                <div>
                    <input type="radio" id="genre" name="subscriptionType" value="genre" [(ngModel)]="subscriptionType">
                    <label for="genre">Genre</label>
                </div>
            </div>
            <br>

            <label for="subscriptionValue">Subscription Value:</label>
            <input type="text" id="subscriptionValue" [(ngModel)]="subscriptionValue" name="subscriptionValue" required>
            <br>

            <label for="email">Notifications for your subscription will be sent to your email address:</label>
            <div id="email">{{email}}</div> <!-- Prikazivanje email kao tekst -->
            <br>

            <!-- Subscribe button -->
            <button (click)="onSubscribe()" class="submit-button">Subscribe</button>
        </form>
    <!-- Subscription List -->
<!--        <div class="subscription-list">-->
<!--            <h2>Subscription List for {{username}}</h2>-->
<!--            <ul>-->
<!--                <li *ngFor="let subscription of subscriptions" class="subscription-item">-->
<!--                    <div class="subscription-left">-->
<!--                        <br> Subscription type: {{ subscription.subscription_type }}-->
<!--                        <strong><br> Subscription value: {{ subscription.subscription_value }}</strong>-->
<!--                    </div>-->
<!--                    <div class="subscription-right">-->
<!--                        <button class="btn-update">Update</button>-->
<!--                        <button class="btn-delete">Delete</button>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->

        <div class="subscription-list">
            <h2>Subscription List for {{username}}</h2>
            <ul>
                <li *ngFor="let subscription of subscriptions" class="subscription-item">
                    <div class="subscription-left">
                        <br> Subscription type: {{ subscription.subscription_type }}
                        <strong><br> Subscription value:
                            <input
                                    type="text"
                                    [(ngModel)]="subscription.subscription_value"
                                    class="subscription-value-input"
                            />
                        </strong>
                    </div>
                    <div class="subscription-right">
                        <button
                                class="btn-update"
                                (click)="updateSubscription(subscription)">

                            Update
                        </button>
                        <button
                                class="btn-delete"
                                (click)="deleteSubscription(subscription)">

                            Delete
                        </button>
                    </div>
                </li>
            </ul>
        </div>

    </div>


    <div  *ngIf="user && userRole === 'Administrator'" class="delete-movie">
        <h2>DELETE MOVIE</h2>
        <label for="movie-id">Enter Movie ID:</label>
        <input type="text" id="movie-id" name="movie-id" [(ngModel)]="deleteId">
        <button type="button" (click)="deleteMovie()">Delete</button>
    </div>

    <div *ngIf="user && userRole === 'RegisteredUser'" class="rate-movie-container">
        <h2>Rate a Movie</h2>
        <form (ngSubmit)="onRateMovie()">
            <label for="filmId">Film ID:</label>
            <input id="filmId" [(ngModel)]="filmId" name="filmId" required />

            <label for="rating">Rating (1-5):</label>
            <input id="rating" type="number" [(ngModel)]="rating" name="rating" required min="1" max="5" />

            <button type="submit">Rate</button>
        </form>
    </div>

    <section *ngIf="user && userRole === 'Administrator'" class="contact" id="contact1">
        <div class="content">
            <hr> <br>
            <div class="title"><span>Update Movie</span></div>
        </div>
        <!-- Upload Film Section -->
        <section class="upload-film">
            <form (submit)="onUpdate()">
                <div class="form-group">
                    <input type="file" (change)="onFileSelected($event)" />
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="updatedId" placeholder="Id" name="title" />
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="updatedTitle" placeholder="Title" name="title" />
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="updatedDescription" placeholder="Description" name="description" />
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="updatedActors" placeholder="Actors (comma separated)" name="actors" />
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="updatedDirectors" placeholder="Directors (comma separated)" name="directors" />
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="updatedGenres" placeholder="Genres (comma separated)" name="genres" />
                </div>
                <button type="submit" class="upload-button">Upload</button>
            </form>
        </section>



</section>
<footer>
    <div class="footer">
    </div>
</footer>
</section>